.container-light {
  width: 100%;
  height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-light .box{
  width: 100px;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

.container-light .box i {
  color:silver;
  font-size: 60px;
}

.container-light .box button{
  width: 80px;
  height: 45px;
  background-color: silver;
  border-radius: 10px;
}

.container-light .box button:active{
  scale: 0.9;
}



.container-dark {
  width: 100%;
  height: 100vh;
  background-color: rgb(128, 125, 125);
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-dark .box{
  width: 100px;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

.container-dark .box i {
  filter: drop-shadow(0 1px 10px yellow);
  font-size: 60px;
  transition: all ease-in 0.2s;
}

.container-dark .box i{
  transform: translateY(-20px);
}

@keyframes animl{
   100% 
  {
    transition: translate(0);
  }
  50%{
    transition: translate(15px);
  }
}

.container-dark .box button{
  width: 80px;
  height: 45px;
  background-color: silver;
  cursor: pointer;
  border-radius: 10px;
}

.container-dark .box button:active{
  scale: 0.9;
}